<!DOCTYPE html>
<html>

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>KRC</title>
        <meta property="og:url"                content="http://www.nytimes.com/2015/02/19/arts/international/when-great-minds-dont-think-alike.html" />
        <meta property="og:type"               content="Music" />
        <meta property="og:title"              content="Kriss" />
        <meta property="og:description"        content="A centralized home for the kasi musician or music lover featuring the latest kasi rap songs , hottest mc's , baddest bishes and much more." />
        <meta property="og:image"              content="http://www.kasiracentral/img/background.jpg" />
        <meta name="author" content="Kriss">
        <meta name="description" content="A centralized home for the kasi musician or music lover featuring the latest kasi rap songs , hottest mc's , baddest bishes and much more.">
        <meta name="keywords" content="hip hop,music , apparel ,dance,spaza, south africa">
        <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">
        <link rel="stylesheet" href="css/home.css" type="text/css">
        <link rel="stylesheet" href="css/grid.css" type="text/css">
        <link rel="stylesheet" href="css/android-grid.css" type="text/css">
          <link rel="stylesheet" href="css/tablet-grid.css" type="text/css">
          <link rel="stylesheet" href="css/retina-grid.css" type="text/css">
          <link rel="stylesheet" href="css/default.css" type="text/css">
          <link rel="stylesheet" href="css/component.css" type="text/css">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Lato:900" rel="stylesheet">

    </head>









    <body>
      {{{body}}}
    </body>
  </html>
