<!DOCTYPE html>
<!--[if lt IE 7 ]> <html class="ie ie6 no-js" lang="en"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7 no-js" lang="en"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8 no-js" lang="en"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9 no-js" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html class="no-js" lang="en">
    <!--<![endif]-->

    <head>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <link rel="apple-touch-icon" sizes="57x57" href="/img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#ffffff">
        <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
        <meta name="theme-color" content="#ffffff">
        <meta name="google-site-verification" content="M4CgH0wlh9lRXSn8UdPsMwA2hLGGNRvHfZE8QqOQZY8" />
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width,initial-scale=1">
        <title>KRISS</title>
        <meta property="fb:app_id" content="222881211522138" />
        <meta property="og:url" content="https://www.krissmusic.tk" />
        <meta property="og:type" content="website" />
        <meta property="og:title" itemprop="name" content="KRISS" />
        <meta property="og:site_name" content="KRISS">
        <meta property="og:description" itemprop="description" content="Upload ,Download and Listen to the latest Kasi tracks by your favourite Artists ❱❱❱" />
        <meta property="og:image" itemprop="image" content="https://www.krissmusic.tk/img/og/opengraph.png" />
        <meta name="keywords" content="hip hop,music,kasi,apparel ,dance,spaza, south africa">
        <meta name="google-site-verification" content="9W1yVIpOAJzHa3H0rNpTSY8yKrLqt-FAPnMsxOJR5s8" />
        <meta name="twitter:image" content="https://www.krissmusic.tk/img/og/opengraph.png">
        <link rel="stylesheet" type="text/css" href="css/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/style1.css" />
        <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>

    </head>

    <body id="page">
        <ul class="cb-slideshow">
            <li><span>Image 01</span>
                <div>
                    <h3 id='mains'>LISTEN</h3></div>
            </li>
            <li><span>Image 02</span>
                <div>
                    <h3>UPLOAD</h3></div>
            </li>
            <li><span>Image 03</span>
                <div>
                    <h3>DOWNLOAD</h3></div>
            </li>
            <li><span>Image 04</span>
                <div>
                    <h3>SHARE</h3></div>
            </li>
        </ul>

        <div class="container">
            <header>
                <h1 id='title'>KRISS</h1>
                <h2>Hustle beats talent whenever talent doesn't hustle</h2>
                <p class="main">
                    <a href="/main" id='visitlink' class="visit">Visit site</a>
                </p>
            </header>
        </div>
        <script type='text/javascript'>
          var isOperaMini = (navigator.userAgent.indexOf('Opera Mini') > -1);
          var isOperaMobi = (navigator.userAgent.indexOf('Opera Mobi') > -1);

          if(isOperaMini || isOperaMobi){
            document.getElementById('title').innerHTML = "Please Use Chrome Browser"
            document.getElementById('visitlink').innerHTML = "Download Chrome"
            document.getElementById('visitlink').href= "https://play.google.com/store/apps/details?id=com.android.chrome&hl=en"
          }


        </script>
    </body>

</html>
