
.logo{
  font-size: 6rem;
  font-weight: 900;
  letter-spacing: -6px;
  color:white;
}
.music .collection .upload-item{
  display:inline;
  float:left;
  margin-left: 5%;

  border-radius: 30px;
  padding:2% 0;
  display:inline-block;
  background: black;
  background-size: cover;
  width:45vw;
  height:100%;
  list-style-type: none;
}

.music .collection .upload-item a{
    margin:20% 28%;

}
.music .collection .collection-item{
  display:inline-block;
  background: orange;
  width:15vw;
  height:100%;
  border:1px solid black;
  list-style-type: none;

}
.video{
  height:45vh;
  overflow:hidden;
}
.video-embed{
  background-color: red;
  height:80vh;
}

.music .collection .collection-item .functional img{
    max-width:5%;

}
.main{
  background:url('/img/Kasil.png')no-repeat center right fixed;
  background-size:cover;
  height:100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ad{
  background:white;
  height:100vh;
}
.navigationBar{
  background:white;
  height:15vh;
}
.featured{
  background:black;
  height:40vh;
  border:1px solid black;
}
.post{
  background:url(/img/background1.jpg);
  background-size:cover;
}
.footer{
  background:black;
  height:40vh;
  padding:10%;
  text-align:center;
  border:1px solid black;
}
.music{
  height:30vh;
  overflow:hidden;
}
.music .collection{
  width:inherit;
  height:inherit;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.music .collection .collection-item .functional{
  width:100%;
  padding:5%;
  text-align: center;
  margin-bottom:10%
}
.hp_slide {
    width: 100%;
    background: white;
    height: 10px;
    visibility:collapse;
}
.analytics .badge{
  width: 30%;
  text-align: center;
  background:rgba(0,0,0,0.5);
}
.music .collection .collection-item .heading{
  font-family: 'Lato', sans-serif;
  width:100%;
  background:black;
  color: white;
  font-size: 1vw;
  text-align: center;
  word-wrap:break-word;

}
.music .collection .collection-item .functional img{
    filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
    max-width: 30%;
    padding: 5%;

}
.music .collection .collection-item .heading h2,h3{
  font-size: 4vw;
  display: block;
}
.music .collection .collection-item{
  padding:2% 0;
  display:inline-block;
  background: orange;
  background-size: cover;
  width:45vw;
  height:100%;
  border:1px solid black;
  list-style-type: none;

}
.video{
  height:45vh;
  overflow:hidden;
  width:113vw;
}
.video .collection{
  width:105vw;
  height:100%;
  overflow-x: hidden;
  overflow-y: scroll;
}
.video .collection .collection-item{
  display:block;
  background: orange;
  width:100%;
  height:10vh;
  border:1px solid black;
  list-style-type: none;
}
.video-embed{
  background-color: black;
  height:50vh;
  width:100%;

}
.video-embed iframe{
  height:inherit;
  margin:0 auto;
}
.video-playlist{
  width:inherit;
  margin:0 auto;
}






.navigationBar .navitem{
  border:1px solid rgba(0,0,0,0.5);
  height:inherit;
  width:50%
}

.navigationBar .navitem .navbtn:hover{
        background: black;
        color:rgba(255, 200, 0, 0.85);

}
.navigationBar .navitem .navbtn a{
  max-width: 5%;
  text-decoration: none;
  color:black;
}
.navigationBar .navitem .navbtn:hover > a{
  color:rgba(255, 200, 0, 0.85);
}
.navigationBar .navitem .logo{
  font-family: 'Lato', sans-serif;
  margin: 5% 30%;
  color:black;
}







.events .header{
  font-family: 'Lato', sans-serif
  text-align: center;
  height:25%;
  border: 1px solid black;
  background:#fcad26;
  color:black;
  width:100%;
}
.events .header h1{

  font-family: 'Lato', sans-serif;
  margin: 5% 36%;
  font-size: 1.5rem;
}
.events .header .navbtn{
  border:1px solid rgba(0,0,0,0.5);
  width:50%;
  height:100%;
  display:inline;
  float:left;
  padding: 5% 1%;

  background: black;
  font-family: 'Lato', sans-serif;



}
.events .header .navbtn:hover{
    background: #fcad26;
    color:black;
}
.events .header .navbtn:hover > a{
  color:black;
}
.events .header .navbtn a{
  text-decoration: none;
  color:#fcad26;
  font-family: 'Lato', sans-serif;
  margin: 25%;
  font-size: 1rem;
  font-weight: 900;
}
.events .event-items{
  height:75%;
  overflow-y:hidden;

  width: 100%;
}
.events .event-items .collection{
  height:100%;
  width: 100%;
  overflow-x:scroll;
  overflow-y: hidden;
  white-space:nowrap;
}
.events .event-items .collection .collection-item{
  height:100%;
  display: inline-block;

}
.events .event-items .collection .collection-item .event-image{
  height:100%;
  width:50%;
  border:2px solid rgba(0,0,0,0.5);
  display: inline;
  float: left;
}
.events .event-items .collection .collection-item .event-body{
  height:100%;
  width:50%;
  border:2px solid rgba(0,0,0,0.5);
  display: inline;
  float: left;
  white-space: normal;
  padding: 5%;
}
.events .event-items .collection .collection-item .event-body h2{
  font-size:1.5rem;
}
.events .event-items .collection .collection-item .event-body h5{
  font-size:1rem;
  color:white;
}
.events .event-items .collection .collection-item .event-image img{
  max-width: 20vw;
}




.form-fields{
  display:none;
  height:150vh;
  margin-top:15%;
  padding: 5%;
  color:white;
}


.ico{
  filter: drop-shadow(1px 1px 0 white) drop-shadow(-1px -1px 0 white);
  max-width: 30%;
  padding: 5%;
}
.flamed {
  -webkit-filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
  filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
}
.downloaded{
  -webkit-filter:drop-shadow(1px 1px 10px blue) drop-shadow(-1px -1px 0 blue);
  filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 blue);
}
.played {
  animation: playbutton 5s ease-in-out alternate infinite;
  -webkit-animation: playbutton  5s ease-in-out alternate infinite;
  -webkit-filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
  filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
}


@-webkit-keyframes playbutton{
  0%{
    -webkit-filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
    filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
  }
  50%{
    -webkit-filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
    filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
  }
  100%{
    -webkit-filter:drop-shadow(1px 1px 10px blue) drop-shadow(-1px -1px 0 blue);
    filter:drop-shadow(1px 1px 10px blue) drop-shadow(-1px -1px 0 blue);
  }
}
@keyframes playbutton{
  0%{
    -webkit-filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
    filter:drop-shadow(1px 1px 10px yellow) drop-shadow(-1px -1px 0 orange);
  }
  50%{
    -webkit-filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
    filter:drop-shadow(1px 1px 10px red) drop-shadow(-1px -1px 0 yellow);
  }
  100%{
    -webkit-filter:drop-shadow(1px 1px 10px blue) drop-shadow(-1px -1px 0 blue);
    filter:drop-shadow(1px 1px 10px blue) drop-shadow(-1px -1px 0 blue);
  }
}








::-webkit-scrollbar{width: 9px;}

::-webkit-scrollbar-thumb{background-color: rgba(255, 200, 0, 0.85); border-radius: 0;}
::-webkit-scrollbar-thumb:hover{background-color:rgb(196, 196, 196);}

::-webkit-scrollbar-track{background-color:rgb(0,0, 0);}
