body {
    font: 13px/1.3 'Lucida Grande', sans-serif;
    color: #666;
    overflow: hidden;
}

*, *:before, *:after {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.navigation{
	display:inline;
	margin-left:400px;
	margin-top:50px;
	position:absolute;
	width:70vw;
}
.hp_slide {
    width: 60%;
    background: white;
    height: 10px;

}

.hp_range {
    width: 0;
    background: black;
    height: 10px;
    overflow:hidden;}

.chart {
    display: table;
    table-layout: fixed;
    width: 60%;
    max-width: 700px;
    height: 400px;
    margin: 0 auto;
    background: white;
    background-size: cover;
    text-align: center;
}

.chart h1 {
    color: white;
    text-shadow: 1px 1px 1px 1px black;
}

.chart li {
    position: relative;
    display: table-cell;
    vertical-align: bottom;
    height: 120vh;
    width: 60vw;
}

.chart .second {
    background: rgba(255, 200, 0, 0.85);
}

.chart .second h2 {
		padding:2%;
    color: rgba(48, 48, 80, 1);
    font-family: 'Lato', sans-serif;
    background: white;
    word-wrap: break-word;
    font-size: 1em;
    letter-spacing: 1px;
    font-weight: 300;
    border: 0.1px solid rgba(0, 0, 0, .3);
}

.chart .second h5 {
    color: black;
    font-family: 'Lato', sans-serif;
}

.chart .second:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}

.chart span {
    margin: 0;
    display: block;
    border-left: 0.1rem solid rgba(0, 0, 0, 0.1);
    ;
}

.chart span:before {
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    padding: 5px 1em 0;
    display: block;
    text-align: center;
    content: attr(title);
    word-wrap: break-word;
}

.chart li span img {
    max-width: 28%;
    max-height: 25%;
    padding:2px;
    display:inline;
}

.chart li span img.play {
    max-width: 40%;
    max-height: 40%;
    margin-left:20px;


}
.chart li:hover {
    width: 70vw;

    transition: width .7s ease-in-out;
}



li .first {
    box-shadow: 0px 0px 50px 0.1rem black;
    background: url(/img/background.jpg)no-repeat center center;
    background-size: cover;
}

li .info {
    display: none;
}




/** ARTICLE */

article {
    font-size: 140px;
    color: black;
    text-align: center;
    font-weight: 300;
    line-height: 0.9;
    margin-bottom: 110px;
    font-family: 'Lato', sans-serif;
    letter-spacing: -15px;
}


/** CARD */

a {
    text-decoration: none;
}

.info .card {
	  border-radius: 0px;
    width: 100%;
    height: 60vh;
    margin-bottom:-12px;
    background-color: white;
    -webkit-box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    box-shadow:inset  0 0 15px rgba(0, 0, 0, 0.2);
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
    /*
        -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
	box-shadow: 0 0 15px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.2);
*/
}

.info .card.active {
    height: 490px;
}

.banner {
    z-index: 1;

    width: 100%;
    height: 70%;
    background: white;
    background-image:url("https://snap-photos.s3.amazonaws.com/img-thumbs/960w/RQ2Z75PQIN.jpg") no-repeat center center;
    background-size: cover;
    border-bottom: solid 1px lightgrey;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
}

.banner.active {
    height: 0;
}

.photo {
		position:absolute;
    z-index: 3;
    height: 100px;

		border: :1px solid rgba(0,0,0,0.4);
    background-color: blue;
    margin: 0 auto;
    background-image: url(/img/manaccover.jpg);
    background-size: cover;
    background-position: 50% 50%;
    top: 75px;
    -webkit-box-shadow: 100px 100px 50px 1px rgba(0, 0, 0, 1);
    -moz-box-shadow: inset 0px 0px 5px 1px rgba(0, 0, 0, 0.3);
    box-shadow:100px 1000px 50px 1px rgba(0, 0, 0, 1);
    -webkit-transition: top 0.7s ease-in-out, background 0.15s ease;
    -moz-transition: top 0.7s ease-in-out, background 0.15s ease;
    -o-transition: top 0.7s ease-in-out, background 0.15s ease;
    -ms-transition: top 0.7s ease-in-out, background 0.15s ease;
}

.photo.active {
    top: -80px;
}

.card .data {
		height:30%;
    list-style: none;
    text-align: center;
    padding-left: 0;
		padding-top: 20px;
    font-size: 20px;
    -webkit-transition: all 0.7s ease-in-out;
    -moz-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    -ms-transition: all 0.7s ease-in-out;
		font-family: 'Lato', sans-serif;
}
.card .social{
	margin-top:10px;
}
.card ul.active {
    opacity: 0;
    visibility: hidden;
}

.card i {
    font-size: 25px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 20px;
    width: 50px;
    text-align: left;
}
button{
	width:40%;
	background: black;
	color: white;
	text-align: center;
	margin-bottom: 10px;
}






/* ----------- Non-Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 1) {
    .chart li:hover {
        width: 20vw;

        transition: width .7s ease-in-out;
    }
    .chart li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        height: 100vh;
        width: 13vw
    }
    .chart li span img {
        display:inline;
        max-width: 20%;
        max-height: 20%;
    		padding:10px;
        margin:0;
    }
    .chart li span img.play {
        max-width: 30%;
        max-height: 30%;

    }
    .navigation{
    	display:inline;
    	margin-left:400px;
    	margin-top:50px;
    	position:absolute;
    	width:20vw;
    }
}

/* ----------- Retina Screens ----------- */
@media screen
  and (min-device-width: 1200px)
  and (max-device-width: 1600px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) {
    .chart li:hover {
        width: 20vw;

        transition: width .7s ease-in-out;
    }
    .chart li {
        position: relative;
        display: table-cell;
        vertical-align: bottom;
        height: 100vh;
        width: 13vw
    }
    .chart li span img {
        max-width: 20%;
        max-height: 20%;
    		padding:10px;
    }
    .chart li span img.play {
        max-width: 30%;
        max-height: 30%;

    }
    .navigation{
    	display:inline;
    	margin-left:400px;
    	margin-top:50px;
    	position:absolute;
    	width:20vw;
    }
}












/* ----------- Galaxy S3 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2) {
    article {
        font-size: 140px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 120px;
        transition: width .7s ease-in-out;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 120px;
        transition: width .7s ease-in-out;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 2)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 120px;
        transition: width .7s ease-in-out;
    }
}

/* ----------- Galaxy S4 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 120px;
        transition: width .7s ease-in-out;
    }
}

/* Portrait */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 120px;
        transition: width .7s ease-in-out;
    }
}

/* Landscape */
@media screen
  and (device-width: 320px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 100px;
        transition: width .7s ease-in-out;
    }
}

/* ----------- Galaxy S5 ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 100px;
        transition: width .7s ease-in-out;
    }
}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 100px;
        transition: width .7s ease-in-out;
    }
}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 100px;
        transition: width .7s ease-in-out;
    }
}





/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
    body{
      overflow-x: scroll;
    }
      .chart li{
        width: 100px;
        transition: width .7s ease-in-out;
    }
}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 100px;
      transition: width .7s ease-in-out;
  }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 100px;
      transition: width .7s ease-in-out;
  }

}

/* ----------- iPhone 5 and 5S ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Portrait */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 100px;
      }
}

/* Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* ----------- iPhone 6 ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Portrait */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        } body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Landscape */
@media only screen
  and (min-device-width: 375px)
  and (max-device-width: 667px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* ----------- iPhone 6+ ----------- */

/* Portrait and Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Portrait */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        } body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Landscape */
@media only screen
  and (min-device-width: 414px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}



/* ----------- HTC One ----------- */

/* Portrait and Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Portrait */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: portrait) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}

/* Landscape */
@media screen
  and (device-width: 360px)
  and (device-height: 640px)
  and (-webkit-device-pixel-ratio: 3)
  and (orientation: landscape) {
.navigation{
    width:250px;}
    article {
        font-size: 1410x;
        }body{
    overflow-x: scroll;
  }
    .chart li{
      width: 120px;
      transition: width .7s ease-in-out;
  }

}
