
/* Desktops and laptops ----------- */
@media only screen  and (min-width : 1224px) {
  .music .collection .upload-item{
    width:25vw;
  }
  .music .collection .upload-item a{
      margin:15% 2%;
  }
  .music .collection .collection-item{
    display:inline-block;
    background: orange;
    width:25vw;
    height:100%;
    border:1px solid black;
    list-style-type: none;

  }
  .video{
    height:45vh;
    overflow:hidden;
    width:70vw;
  }
  .video-embed{
    background-color: black;
    height:100%;
  }
  .music .collection .collection-item .functional img{
      max-width:5%;

  }
  .main{
    background:url('/img/Kasil.png')no-repeat center right fixed;
    background-size:cover;
    height:100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .ad{
    background:white;
    height:100vh;
  }
  .navigationBar{
    background:white;
    height:15vh;
  }
  .navigationBar .navitem .navbtn{
    border:1px solid rgba(0,0,0,0.5);
    height:100%;
    width:50%;
    display:inline;
    float:left;
    background: rgba(255, 200, 0, 0.85);
      font-family: 'Lato', sans-serif;
      font-size: .7rem;
  }
  .featured{
    background:black;
    height:45h;
    border:1px solid black;
  }
  .post{
    background:url(/img/background1.jpg);
    background-size:cover;
  }
  .footer{
    border-top: 1px solid white;
    padding:30%;
    color:white;
    background:black;
    height:40vh;
  }
  .music{
    height:40vh;
    overflow:hidden;
  }
  .music .collection{
    width:inherit;
    height:inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .music .collection .collection-item .functional{
    width:100%;
    padding:5%;
    text-align: center;
    margin-bottom:10%
  }

  .music .collection .collection-item .heading{
    font-family: 'Lato', sans-serif;
    width:100%;
    background:black;
    color: white;
    font-size: 1vw;
    text-align: center;
    word-wrap:break-word;

  }
  .music .collection .collection-item .functional img{
    max-width: 30%;
    padding: 5%;

  }
  .music .collection .collection-item .heading h2,h3{
    font-size: 1vw;
    display: block;
    padding:2%;
  }

  .events .header h1{
    font-family: 'Lato', sans-serif;
    margin: 1% 40%;
  }
}






/* Large screens ----------- */
@media only screen  and (min-width : 1824px) {

  .music .collection .collection-item{
    display:inline-block;
    background: orange;
    width:25vw;
    height:100%;
    border:1px solid black;
    list-style-type: none;

  }
  .video{
    height:45vh;
    overflow:hidden;
  }
  .video-embed{
    background-color: red;
    height:80vh;
  }
  .music .collection .collection-item .functional img{
      max-width:5%;

  }
  .main{
    background:url('/img/Kasil.png')no-repeat center right fixed;
    background-size:cover;
    height:100vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  .ad{
    background:red;
    height:100vh;
  }
  .navigationBar{
    background:grey;
    height:15vh;
  }
  .featured{
    background:yellow;
    height:40vh;
    border:1px solid black;
  }
  .footer{
    background:dimgrey;
    height:40vh;
    border:1px solid black;
  }
  .music{
    height:30vh;
    overflow:hidden;
  }
  .music .collection{
    width:inherit;
    height:inherit;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
  }
  .music .collection .collection-item .functional{
    width:100%;
    padding:5%;
    text-align: center;
    margin-bottom:10%
  }

  .music .collection .collection-item .heading{
    font-family: 'Lato', sans-serif;
    width:100%;
    background:black;
    color: white;
    font-size: 1vw;
    text-align: center;
    word-wrap:break-word;

  }
  .music .collection .collection-item .functional img{
      max-width:15%;

  }
  .music .collection .collection-item .heading h2,h3{
    font-size: 3vw;
    display: inline;
  }
}
